:root {
  // background colors
  --vt-bg-header-color: #fafafa;
  --vt-bg-color: #fff;
  --vt-bg-highlight-color: #e6f7ff;

  // border colors
  --vt-border-color: #f0f0f0;

  // text colors
  --vt-text-header-color: rgba(0, 0, 0, 0.85);

  // box-shadow
  --vt-box-shadow-after: inset 10px 0 8px -8px #00000026;

  // transition
  --vt-bezier: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
}
